<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NamedPipeWrapper" version="1.4.0" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="SharpShell" version="2.2.0.0" targetFramework="net45" />
  <package id="TaskScheduler" version="2.5.16" targetFramework="net45" userInstalled="true" />
</packages>