<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPAddressRange" version="1.5.0.0" targetFramework="net46" />
  <package id="NLog" version="4.3.3" targetFramework="net46" />
  <package id="NLog.Schema" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.HashFunction.Core" version="1.8.2.2" targetFramework="net46" />
  <package id="System.Data.HashFunction.Interfaces" version="1.0.0.2" targetFramework="net46" />
  <package id="System.Data.HashFunction.xxHash" version="1.8.2.2" targetFramework="net46" />
</packages>